<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.trishlex.cocktailapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CocktailServiceApp"
        tools:targetApi="31">
        <activity
            android:name=".ingredient.shoplist.ShopListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cocktail.menu.MyCocktailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ingredient.menu.MyIngredientsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ingredient.IngredientActivity"
            android:exported="false"
            android:label="@string/title_activity_ingredient"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cocktail.CocktailActivity"
            android:exported="false"
            android:label="@string/title_activity_cocktail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>